* {
  padding: 0;
  margin: 0;
}

body {
   margin: 0;
  padding: 0 40px;
  line-height: 1.6;

background-size: cover;


}

#top, #fates, #strength {
   max-width: 1900px;
  margin: 60px auto;
  padding: 10px;
   /* border: solid 1px red; */
} 




.hedline, .mid {
  /* border: solid 1px; */
  color: #E1624F;
  font-weight: bold;
  font-size: 27px;
  text-transform: uppercase;
  margin-bottom: 5px;
  text-align: left;

  
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 35px;
}



.description {
  /* border: solid 1px; */
  font-size: 28px;
  color: #333;
  font-style: italic;
  /* margin: 20px 0; */
  text-align: center;
}

#page  {
height: 100px;
margin: 88px 80px;

}

 #fates {
  /* border: solid 1px; */

  width: 100%;
font-family: "Open Sans", sans-serif;
font-size: 27px;
/* display: block; */


}

h2 {
 font-family: 'Open Sans', sans-serif;
  font-weight: 700; 
  font-size: 29px;
  margin-left: 40px;
   padding: 10px;
}

h3 {
  font-size: 25px;
  padding: 5px;
}



ul {
 font-family: 'Open Sans', sans-serif;
  font-weight: 700; 
  font-size: 16px;
  color: rgb(0, 4, 255);
  list-style-type: disc
  
}

ul li {
    list-style-position: inside;
   
  }




p {
font-size: 150%;
width: 100%;
height: auto;
max-width: 1500px;
padding: 4px;
text-align: center;
/* border: 1px solid; */
display: block;
margin: 0 auto;
 font-family: "Alice", serif;
 line-height: 150%;

}

main {
  padding: 24px;
}


img {
  border-radius: 30px;
  width: 100%;
  height: auto;
  max-width: 1900px;
  /* border: 1px solid; */
  box-sizing: border-box;
 display: block;
 margin: 0 auto;
 padding: 20px;
  
 
}